# Env
CONFIG_ENV_IS_NOWHERE=y
CONFIG_ENV_IS_IN_MMC=n

#
# Autoboot options
#
CONFIG_BOOTDELAY=0

#
# Console
#
CONFIG_DISABLE_CONSOLE=y
CONFIG_LOGLEVEL=0
CONFIG_SILENT_CONSOLE=y

#
# Init options
#
# CONFIG_DISPLAY_CPUINFO is not set

#
# OP-TEE
#
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_OPTEE_TA_AVB=y
CONFIG_CMD_OPTEE_RPMB=y

# MMC
CONFIG_SUPPORT_EMMC_RPMB=y

# Android Features
CONFIG_FASTBOOT_LOCKING=y
CONFIG_AVB_ROOT_OF_TRUST=y
CONFIG_CMD_AVB_ROT=y
